* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 95vw;
    margin: auto; 
}

#header {
    width: 90%;
    margin: 1% auto;
    text-align: center;
}

.headers {
    width: 90%;
    margin: auto;
    text-align: center;
}

#cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 1%;
    width: 90%;
    height: 80vh;
    margin: auto;
}

.card {
    width: 30%;
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
    padding: 1% 2%;
    border: 1px solid grey;
}

#modal {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    border: 10px darkgray solid;

}

#close-modal {
    position: absolute;
    top:0;
    right:0;
    font-size: 2rem;
    border: 5px black solid;
}

#modal-name {
    font-size: 3rem;
}

.modal-input {
    width: 400px;
    height: 50px;
    font-size: 2.3rem;
}

#pass-form {
    display: grid;
}

.submit-btn {
    height: 70px;
    font-size: xx-large;
}

#sliders-form {
    display: flex;
    flex-direction: column;
}

.slider {
    width: 50vw;
    height: 3vh;
}

.slid-labels {
    display: flex;
    justify-content: space-between;
}